{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pop Up Katalog</title>
    <link rel="stylesheet" href="popup-catalog.css">
    <script src="popup-catalog.js" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">


</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-logo">
                <img src="asset/W biru.png" alt="Waluya logo" class="logo-navbar">
                <span class="nama-brand">Waluya Aquarium</span>
            </div>
            <ul class="nav-links">
                <li><a href="#">Tentang Kami</a></li>
                <li><a href="#">Produk Kami</a></li>
                <li><a href="#">Wishlist Kami</a></li>
            </ul>
            <div class="buttons">
                <button class="login-button">Login</button>
                <button class="register-button">Register</button>
            </div>
            </ul>
        </nav>
    </header>

    <h1 class="section-title">IKAN</h1>
    <div class="search-bar">
        <img src="asset/bx-search-alt-2.svg" alt="Search Icon" class="search-icon">
        <input type="text" placeholder="Search here">
    </div>
    <div class="card-container">
        <div class="card" data-name="p-1">
            <div class="card-image">
                <img src="asset/Frame 26.png">
                </div>
                <div class="card-content">
                    <h3>Ikan Discus 1</h3>
                    <p>Discus adalah salah satu ikan hias yang paling indah dan paling sering dipelihara. 
                    Mereka termasuk dalam genus Symphysodon, 
                    yang pada dasarnya mengandung tiga spesies: Heckel Discus (S. discus), Green Discus (S. aequifasciatus), dan Blue and Brown Discus (S. haraldi).
                    </p>
            </div>
        </div>
        <div class="card" data-name="p-2">
            <div class="card-image">
            <img src="asset/Frame 26.png">
            </div>
            <div class="card-content">
                <h3>Ikan Discus 2</h3>
                <p>Discus adalah salah satu ikan hias yang paling indah dan paling sering dipelihara. 
                Mereka termasuk dalam genus Symphysodon, 
                yang pada dasarnya mengandung tiga spesies: Heckel Discus (S. discus), Green Discus (S. aequifasciatus), dan Blue and Brown Discus (S. haraldi).
                </p>
            </div>
        </div>
        <div class="card" data-name="p-3">
            <div class="card-image">
            <img src="asset/Frame 26.png">
            </div>
            <div class="card-content">
                <h3>Ikan Discus 3</h3>
                <p>Discus adalah salah satu ikan hias yang paling indah dan paling sering dipelihara. 
                Mereka termasuk dalam genus Symphysodon, 
                yang pada dasarnya mengandung tiga spesies: Heckel Discus (S. discus), Green Discus (S. aequifasciatus), dan Blue and Brown Discus (S. haraldi).
                </p>
            </div>
        </div>
        <div class="card" data-name="p-4">
            <div class="card-image">
            <img src="asset/Frame 26.png">
            </div>
            <div class="card-content">
                <h3>Ikan Discus 4</h3>
                <p>Discus adalah salah satu ikan hias yang paling indah dan paling sering dipelihara. 
                Mereka termasuk dalam genus Symphysodon, 
                yang pada dasarnya mengandung tiga spesies: Heckel Discus (S. discus), Green Discus (S. aequifasciatus), dan Blue and Brown Discus (S. haraldi).
                </p>
            </div>
        </div>
        <div class="card" data-name="p-5">
            <div class="card-image">
            <img src="asset/Frame 26.png">
            </div>
            <div class="card-content">
                <h3>Ikan Discus 5</h3>
                <p>Discus adalah salah satu ikan hias yang paling indah dan paling sering dipelihara. 
                Mereka termasuk dalam genus Symphysodon, 
                yang pada dasarnya mengandung tiga spesies: Heckel Discus (S. discus), Green Discus (S. aequifasciatus), dan Blue and Brown Discus (S. haraldi).
                </p>
            </div>
        </div>
        <div class="card" data-name="p-6">
            <div class="card-image">
            <img src="asset/Frame 26.png">
            </div>
            <div class="card-content">
                <h3>Ikan Discus 6</h3>
                <p>Discus adalah salah satu ikan hias yang paling indah dan paling sering dipelihara. 
                Mereka termasuk dalam genus Symphysodon, 
                yang pada dasarnya mengandung tiga spesies: Heckel Discus (S. discus), Green Discus (S. aequifasciatus), dan Blue and Brown Discus (S. haraldi).
                </p>
            </div>
        </div>
        <div class="card" data-name="p-7">
            <div class="card-image">
            <img src="asset/Frame 26.png">
            </div>
            <div class="card-content">
                <h3>Ikan Discus 7</h3>
                <p>Discus adalah salah satu ikan hias yang paling indah dan paling sering dipelihara. 
                Mereka termasuk dalam genus Symphysodon, 
                yang pada dasarnya mengandung tiga spesies: Heckel Discus (S. discus), Green Discus (S. aequifasciatus), dan Blue and Brown Discus (S. haraldi).
                </p>
            </div>
        </div>
        <div class="card" data-name="p-8">
            <div class="card-image">
            <img src="asset/Frame 26.png">
            </div>
            <div class="card-content">
                <h3>Ikan Discus 8</h3>
                <p>Discus adalah salah satu ikan hias yang paling indah dan paling sering dipelihara. 
                Mereka termasuk dalam genus Symphysodon, 
                yang pada dasarnya mengandung tiga spesies: Heckel Discus (S. discus), Green Discus (S. aequifasciatus), dan Blue and Brown Discus (S. haraldi).
                </p>
            </div>
        </div>
        <div class="card" data-name="p-9">
            <div class="card-image">
            <img src="asset/Frame 26.png">
            </div>
            <div class="card-content">
                <h3>Ikan Discus 9</h3>
                <p>Discus adalah salah satu ikan hias yang paling indah dan paling sering dipelihara. 
                Mereka termasuk dalam genus Symphysodon, 
                yang pada dasarnya mengandung tiga spesies: Heckel Discus (S. discus), Green Discus (S. aequifasciatus), dan Blue and Brown Discus (S. haraldi).
                </p>
            </div>
        </div>
        <div class="card" data-name="p-10">
            <div class="card-image">
            <img src="asset/Frame 26.png">
            </div>
            <div class="card-content">
                <h3>Ikan Discus 10</h3>
                <p>Discus adalah salah satu ikan hias yang paling indah dan paling sering dipelihara. 
                Mereka termasuk dalam genus Symphysodon, 
                yang pada dasarnya mengandung tiga spesies: Heckel Discus (S. discus), Green Discus (S. aequifasciatus), dan Blue and Brown Discus (S. haraldi).
                </p>
            </div>
        </div>
        <div class="card" data-name="p-11">
            <div class="card-image">
            <img src="asset/Frame 26.png">
            </div>
            <div class="card-content">
                <h3>Ikan Discus 11</h3>
                <p>Discus adalah salah satu ikan hias yang paling indah dan paling sering dipelihara. 
                Mereka termasuk dalam genus Symphysodon, 
                yang pada dasarnya mengandung tiga spesies: Heckel Discus (S. discus), Green Discus (S. aequifasciatus), dan Blue and Brown Discus (S. haraldi).
                </p>
            </div>
        </div>
        <div class="card" data-name="p-12">
            <div class="card-image">
            <img src="asset/Frame 26.png">
            </div>
            <div class="card-content">
                <h3>Ikan Discus 12</h3>
                <p>Discus adalah salah satu ikan hias yang paling indah dan paling sering dipelihara. 
                Mereka termasuk dalam genus Symphysodon, 
                yang pada dasarnya mengandung tiga spesies: Heckel Discus (S. discus), Green Discus (S. aequifasciatus), dan Blue and Brown Discus (S. haraldi).
                </p>
            </div>
        </div>

        <div class="product-preview">
            
            <div class="preview" data-target="p-1">
                <i class="fas fa-times"></i>
                    <div class="preview-left">
                        <img src= "asset/Frame 26.png" alt="">
                        <h3>Ikan Discus</h3>
                        <div class="preview-bottom">
                            <div class="stock">Available Product: <strong>5</strong></div>
                        </div>
                    </div>
                    <div class="preview-right">
                        <p>Discus adalah salah satu ikan hias yang paling indah dan paling sering dipelihara.
                        Mereka termasuk dalam genus Symphysodon, yang pada dasarnya mengandung tiga spesies:
                        Heckel Discus (S. discus), Green Discus (S. aequifasciatus), dan Blue and Brown Discus (S. haraldi).
                        </p>
                        <div class="price"><p class = "angka">Price</p>
                            <p class = "nominal">Rp. 50.000,00</p></div>
                        <button class="wishlist-buttons">Masukkan ke Wishlist</button>
                    </div>
                </div>
            <div class="preview" data-target="p-2">
                <i class="fas fa-times"></i>
                    <div class="preview-left">
                        <img src= "asset/Frame 26.png" alt="">
                        <h3>Ikan Discus 2</h3>
                        <div class="preview-bottom">
                            <div class="stock">Available Product: <strong>5</strong></div>
                        </div>
                    </div>
                    <div class="preview-right">
                        <p>Discus adalah salah satu ikan hias yang paling indah dan paling sering dipelihara.
                        Mereka termasuk dalam genus Symphysodon, yang pada dasarnya mengandung tiga spesies:
                        Heckel Discus (S. discus), Green Discus (S. aequifasciatus), dan Blue and Brown Discus (S. haraldi).
                        </p>
                        <div class="price"><p class = "angka">Price</p>
                            <p class = "nominal">Rp. 50.000,00</p></div>
                        <button class="wishlist-buttons">Masukkan ke Wishlist</button>
                    </div>
                </div>

        <div class="preview" data-target="p-3">
                <i class="fas fa-times"></i>
                    <div class="preview-left">
                        <img src= "asset/Frame 26.png" alt="">
                        <h3>Ikan Discus 3</h3>
                        <div class="preview-bottom">
                            <div class="stock">Available Product: <strong>5</strong></div>
                        </div>
                    </div>
                    <div class="preview-right">
                        <p>Discus adalah salah satu ikan hias yang paling indah dan paling sering dipelihara.
                        Mereka termasuk dalam genus Symphysodon, yang pada dasarnya mengandung tiga spesies:
                        Heckel Discus (S. discus), Green Discus (S. aequifasciatus), dan Blue and Brown Discus (S. haraldi).
                        </p>
                        <div class="price"><p class = "angka">Price</p>
                            <p class = "nominal">Rp. 50.000,00</p></div>
                        <button class="wishlist-buttons">Masukkan ke Wishlist</button>
                    </div>
                </div>
        <div class="preview" data-target="p-4">
                <i class="fas fa-times"></i>
                    <div class="preview-left">
                        <img src= "asset/Frame 26.png" alt="">
                        <h3>Ikan Discus 4</h3>
                        <div class="preview-bottom">
                            <div class="stock">Available Product: <strong>5</strong></div>
                        </div>
                    </div>
                    <div class="preview-right">
                        <p>Discus adalah salah satu ikan hias yang paling indah dan paling sering dipelihara.
                        Mereka termasuk dalam genus Symphysodon, yang pada dasarnya mengandung tiga spesies:
                        Heckel Discus (S. discus), Green Discus (S. aequifasciatus), dan Blue and Brown Discus (S. haraldi).
                        </p>
                        <div class="price"><p class = "angka">Price</p>
                            <p class = "nominal">Rp. 50.000,00</p></div>
                        <button class="wishlist-buttons">Masukkan ke Wishlist</button>
                    </div>
                </div>
        <div class="preview" data-target="p-5">
                <i class="fas fa-times"></i>
                    <div class="preview-left">
                        <img src= "asset/Frame 26.png" alt="">
                        <h3>Ikan Discus 5</h3>
                        <div class="preview-bottom">
                            <div class="stock">Available Product: <strong>5</strong></div>
                        </div>
                    </div>
                    <div class="preview-right">
                        <p>Discus adalah salah satu ikan hias yang paling indah dan paling sering dipelihara.
                        Mereka termasuk dalam genus Symphysodon, yang pada dasarnya mengandung tiga spesies:
                        Heckel Discus (S. discus), Green Discus (S. aequifasciatus), dan Blue and Brown Discus (S. haraldi).
                        </p>
                        <div class="price"><p class = "angka">Price</p>
                            <p class = "nominal">Rp. 50.000,00</p></div>
                        <button class="wishlist-buttons">Masukkan ke Wishlist</button>
                    </div>
                </div>
        <div class="preview" data-target="p-6">
                <i class="fas fa-times"></i>
                    <div class="preview-left">
                        <img src= "asset/Frame 26.png" alt="">
                        <h3>Ikan Discus 6</h3>
                        <div class="preview-bottom">
                            <div class="stock">Available Product: <strong>5</strong></div>
                        </div>
                    </div>
                    <div class="preview-right">
                        <p>Discus adalah salah satu ikan hias yang paling indah dan paling sering dipelihara.
                        Mereka termasuk dalam genus Symphysodon, yang pada dasarnya mengandung tiga spesies:
                        Heckel Discus (S. discus), Green Discus (S. aequifasciatus), dan Blue and Brown Discus (S. haraldi).
                        </p>
                        <div class="price"><p class = "angka">Price</p>
                            <p class = "nominal">Rp. 50.000,00</p></div>
                        <button class="wishlist-buttons">Masukkan ke Wishlist</button>
                    </div>
                </div>
        <div class="preview" data-target="p-7">
                <i class="fas fa-times"></i>
                    <div class="preview-left">
                        <img src= "asset/Frame 26.png" alt="">
                        <h3>Ikan Discus 7</h3>
                        <div class="preview-bottom">
                            <div class="stock">Available Product: <strong>5</strong></div>
                        </div>
                    </div>
                    <div class="preview-right">
                        <p>Discus adalah salah satu ikan hias yang paling indah dan paling sering dipelihara.
                        Mereka termasuk dalam genus Symphysodon, yang pada dasarnya mengandung tiga spesies:
                        Heckel Discus (S. discus), Green Discus (S. aequifasciatus), dan Blue and Brown Discus (S. haraldi).
                        </p>
                        <div class="price"><p class = "angka">Price</p>
                            <p class = "nominal">Rp. 50.000,00</p></div>
                        <button class="wishlist-buttons">Masukkan ke Wishlist</button>
                    </div>
                </div>
        <div class="preview" data-target="p-8">
                <i class="fas fa-times"></i>
                    <div class="preview-left">
                        <img src= "asset/Frame 26.png" alt="">
                        <h3>Ikan Discus 8</h3>
                        <div class="preview-bottom">
                            <div class="stock">Available Product: <strong>5</strong></div>
                        </div>
                    </div>
                    <div class="preview-right">
                        <p>Discus adalah salah satu ikan hias yang paling indah dan paling sering dipelihara.
                        Mereka termasuk dalam genus Symphysodon, yang pada dasarnya mengandung tiga spesies:
                        Heckel Discus (S. discus), Green Discus (S. aequifasciatus), dan Blue and Brown Discus (S. haraldi).
                        </p>
                        <div class="price"><p class = "angka">Price</p>
                            <p class = "nominal">Rp. 50.000,00</p></div>
                        <button class="wishlist-buttons">Masukkan ke Wishlist</button>
                    </div>
                </div>
        <div class="preview" data-target="p-9">
                <i class="fas fa-times"></i>
                    <div class="preview-left">
                        <img src= "asset/Frame 26.png" alt="">
                        <h3>Ikan Discus 9</h3>
                        <div class="preview-bottom">
                            <div class="stock">Available Product: <strong>5</strong></div>
                        </div>
                    </div>
                    <div class="preview-right">
                        <p>Discus adalah salah satu ikan hias yang paling indah dan paling sering dipelihara.
                        Mereka termasuk dalam genus Symphysodon, yang pada dasarnya mengandung tiga spesies:
                        Heckel Discus (S. discus), Green Discus (S. aequifasciatus), dan Blue and Brown Discus (S. haraldi).
                        </p>
                        <div class="price"><p class = "angka">Price</p>
                            <p class = "nominal">Rp. 50.000,00</p></div>
                        <button class="wishlist-buttons">Masukkan ke Wishlist</button>
                    </div>
                </div>
        <div class="preview" data-target="p-10">
                <i class="fas fa-times"></i>
                    <div class="preview-left">
                        <img src= "asset/Frame 26.png" alt="">
                        <h3>Ikan Discus 10</h3>
                        <div class="preview-bottom">
                            <div class="stock">Available Product: <strong>5</strong></div>
                        </div>
                    </div>
                    <div class="preview-right">
                        <p>Discus adalah salah satu ikan hias yang paling indah dan paling sering dipelihara.
                        Mereka termasuk dalam genus Symphysodon, yang pada dasarnya mengandung tiga spesies:
                        Heckel Discus (S. discus), Green Discus (S. aequifasciatus), dan Blue and Brown Discus (S. haraldi).
                        </p>
                        <div class="price"><p class = "angka">Price</p>
                            <p class = "nominal">Rp. 50.000,00</p></div>
                        <button class="wishlist-buttons">Masukkan ke Wishlist</button>
                    </div>
                </div>
        <div class="preview" data-target="p-11">
                <i class="fas fa-times"></i>
                    <div class="preview-left">
                        <img src= "asset/Frame 26.png" alt="">
                        <h3>Ikan Discus 11</h3>
                        <div class="preview-bottom">
                            <div class="stock">Available Product: <strong>5</strong></div>
                        </div>
                    </div>
                    <div class="preview-right">
                        <p>Discus adalah salah satu ikan hias yang paling indah dan paling sering dipelihara.
                        Mereka termasuk dalam genus Symphysodon, yang pada dasarnya mengandung tiga spesies:
                        Heckel Discus (S. discus), Green Discus (S. aequifasciatus), dan Blue and Brown Discus (S. haraldi).
                        </p>
                        <div class="price"><p class = "angka">Price</p>
                            <p class = "nominal">Rp. 50.000,00</p></div>
                        <button class="wishlist-buttons">Masukkan ke Wishlist</button>
                    </div>
                </div>
        <div class="preview" data-target="p-12">
                <i class="fas fa-times"></i>
                    <div class="preview-left">
                        <img src= "asset/Frame 26.png" alt="">
                        <h3>Ikan Discus 12</h3>
                        <div class="preview-bottom">
                            <div class="stock">Available Product: <strong>5</strong></div>
                        </div>
                    </div>
                    <div class="preview-right">
                        <p>Discus adalah salah satu ikan hias yang paling indah dan paling sering dipelihara.
                        Mereka termasuk dalam genus Symphysodon, yang pada dasarnya mengandung tiga spesies:
                        Heckel Discus (S. discus), Green Discus (S. aequifasciatus), dan Blue and Brown Discus (S. haraldi).
                        </p>
                        <div class="price"><p class = "angka">Price</p>
                            <p class = "nominal">Rp. 50.000,00</p></div>
                        <button class="wishlist-buttons">Masukkan ke Wishlist</button>
                    </div>
                </div>
             </div>
</body>
</html>