<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/sign_up.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
</head>
<body>
    <div class="gambar">
        <div class="formbox">
            <form method="POST" action="{% url 'sign_up' %}">
                {% csrf_token %}
                <h1>Create Your Account</h1>
    
                <p>use your E-mail account for registration</p>
                <div class="input-box">
                    <input type="text" name="username" placeholder="Username" required autocomplete="name">
                    {% if form.username.errors %}
                        <ul>
                            {% for error in form.username.errors %}
                                <li class="error-message">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                
                <div class="input-box">
                    <input type="email" name="email" placeholder="E-mail" required autocomplete="email">
                    {% if form.email.errors %}
                        <ul>
                            {% for error in form.email.errors %}
                                <li class="error-message">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                
                <div class="input-box">
                    <input type="password" name="password" placeholder="Password" required autocomplete="new-password">
                    {% if form.password.errors %}
                        <ul>
                            {% for error in form.password.errors %}
                                <li class="error-message">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                
                <button type="submit" class="signup-button">Sign Up</button>
                <p class="login">Already have an account? <a href="{% url 'user_login' %}" class="login-link">Login here</a></p>
        </div>

        <div class="left-section">
            <div class="gambar-container">
                <img src="{% static 'img/w.png' %}" alt="logo-w" class="logo-w">
            </div> 
            <div class="welcome-text"> 
                <h2>Welcome to Waluya Aquarium</h2>
            </div>
        </div>
    </div>
</body>
</html>
